.about-container
  padding-top: 80px
  padding-bottom: 80px
  background: #eee

  .about-copy-container
    padding: 40px 20px
    background: #fff
    border-top: 4px solid #66bbbb

    .icons-container
      padding-top: 20px
      color: #000

      .icon-image
        width: 20px
        height: 20px

.img-profile-container
  width: 150px
  margin-top: 80px

.img-profile
  width: 150px
  height: 150px

.work-image
  width: 90%

.footer-container
  height: 300px
  margin-top: 80px
  background: #333