.about-container
  padding-top: 80px
  padding-bottom: 80px
  background: #77cccc

  .about-copy-container
    color: #fff

    p
      font-size: 18px
      color: #fff

.img-profile-container
  width: 150px

.img-profile
  width: 150px
  height: 150px
  margin-bottom: 10px

.work-image
  width: 90%
  border: 1px solid #eee
  margin-bottom: 10px

.footer-container
  margin-top: 80px
  padding-top: 80px
  padding-bottom: 80px
  background-image: url(../images/wood-texture.jpg)
  background-size: cover
  color: #fff

  a
    color: #fff

  .icons-container
    margin-top: 15px

    a:hover
      text-decoration: none

    .icon-button
      margin-right: 10px

      .icon-image
        width: 16px
        height: 16px