$icon-font-path: "../components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/"

@import ../../app/components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap
@import app
@import components
// <here> don't remove this comment

body
  font-family: 'Vollkorn', serif
  font-size: 16px

p
  margin-top: 20px

h1, h2, h3, h4, h5, h6
  margin: 0

.center
  margin-left: auto
  margin-right: auto

.navbar
  border-radius: 0
  height: 150px
  padding-top: 50px

  .navbar-nav
    float: right

  li
    font-family: 'Roboto Condensed', sans-serif
    letter-spacing: 0.5px

.navbar-inverse
  background: #111

.content-container
  margin-top: 80px

.img-profile-container
  width: 150px

.img-profile
  width: 150px
  height: 150px

.work-image
  width: 100%

.footer-container
  height: 300px
  margin-top: 80px
  background: #111