doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    title Justin Petersen
    meta(name="description", content="Justin Petersen is a Creative Technologist living in San Francisco, California.")
    meta(name="viewport", content="width=device-width")

    link(href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Vollkorn:400italic,700italic,400,700", rel="stylesheet", type="text/css")

    // build:css css/all.css
    link(rel="stylesheet", type="text/css", href="css/main.css")
    // endbuild

  body

    .navbar.navbar-fixed-top.navbar-inverse
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="#")
            .brand-logo
            .brand-name
              h3 Justin Petersen
              p Creative Technologist
        ul.nav.navbar-nav
          li
            a(href="#") About
          li
            a(href="#") Work
          li
            a(href="#") Skills
          li
            a(href="#") Contact

    #total
      .container
        .row
          .col-xs-12.loading-container Loading...

    .container-fluid.footer-container

    // build:js js/all.js
    script(src="components/raphael/raphael.js")
    script(src="components/requirejs/require.js")
    script(src="js/main.js")
    // endbuild

    // Test snippet

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script
      | var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      | (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      | g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      | s.parentNode.insertBefore(g,s)}(document,'script'));