doctype html
html(class="no-js")
  head
    meta(charset="utf-8")
    title Justin Petersen
    meta(name="description", content="Justin Petersen is a Creative Technologist living in San Francisco, California.")
    meta(name="viewport", content="width=device-width")

    // build:css css/all.css
    link(rel="stylesheet", type="text/css", href="css/main.css")
    // endbuild

  body


    .container
      .navbar.navbar-inverse
        ul.nav.navbar-nav
          li
            a(href="#") Portfolio
          li
            a(href="#") Skills
          li
            a(href="#") Contact

    .container
      #total Loading...

    // build:js js/all.js
    script(src="components/raphael/raphael.js")
    script(src="components/requirejs/require.js")
    script(src="js/main.js")
    // endbuild

    // Test snippet

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script
      | var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      | (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      | g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      | s.parentNode.insertBefore(g,s)}(document,'script'));