.container
  .row.content-container
    .col-xs-12
      p.
        Hi, I am a freelance Creative Technologist based in San Francisco, California.
      p.
        I have over ten years of professional experience as a creative developer and technical manager. Currently, I am focusinging on hands-on development using modern web tools like Yeoman, Grunt, Bower, SASS, Bootstrap, RequireJS, Backbone.js, Marionette, jQuery, CoffeeScript and Jade.
      p.
        I have seven years of experience at AKQA in San Francisco, where I was the technical lead for brands including Anheuser-Busch, Activision, Audi, Xbox, Target and Autodesk. I also have experience at EVB in San Francisco, Ham in the Fridge and Olson in Minneapolis, Minnesota, and MusicNotes.com and the University of Wisconsin in Madison.
  .row.content-container
    .col-xs-12
      p.center
        span.glyph-icon.glyph-icon-star
  .row.content-container
    .col-xs-6.col-sm-6
      h3 AudiUSA.com
      p.
        I oversaw front end development of the recently launched AudiUSA.com site, especially focusing on the car configurator. The site is fully responsive and includes heavy integration with Audi's global data partners.
      p
        small.
          Recognition: FWA Site of the Day and FWA Mobile Site of the Day
    .col-xs-6.col-sm-4.col-sm-offset-1
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/01/a4/89/01a48977588039b81015e5815e7384e7.jpg")
  .row.content-container
    .col-xs-6.col-sm-6
      h3 Dance*Cam
      p.
        I managed creative development of the Dance*Cam iPhone, Android and Windows Phone 7 app for Dance Central 2. The mobile app ran Adobe AfterEffects in Microsoft's Azure cloud to add special effects and "auto-tune" the user into their very own music video.
      p
        small.
          Recognition: ONE SHOW Entertainment Bronze, Cannes Mobile Shortlist, NEXT Mobile AICP Shortlist
    .col-xs-6.col-sm-4.col-sm-offset-1
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/42/8e/34/428e344039efe2fa105be49b7f4ab54d.jpg")
  .row.content-container
    .col-xs-6.col-sm-6
      h3 Remember Reach
      p.
        The Halo "Remember Reach" site used an automobile assembly robot with a laser pointer to create a "sculpture" out of 60,000 points of light.
      p
        small.
          Recognition: One Show Interactive Silver and Bronze, Tomorrow Awards Gold, London International Awards Gold, ADDY Gold, BIG Star Awards Best Online Creative, New York Festivals Gold, Art Directors Club Awards Merit, Webby Awards Official Honoree
    .col-xs-6.col-sm-4.col-sm-offset-1
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/236x/dc/9a/f7/dc9af7cb3cac2c7d0289cf0894b26e50.jpg")