.container-fluid.about-container.inner-shadow
  .container
    .row
      .col-xs-5
        .img-profile-container.center
          img.img-circle.img-profile(src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/000/1f0/172/0531c92.jpg", alt="Justin Petersen")
      .col-xs-7.about-copy-container
        h2.
          I want to work with smart and creative people to&nbsp;make interactive products that users find entertaining, beautiful and useful.
        p.icons-container
          span.glyphicon.glyphicon-send &nbsp;
          span.glyphicon.glyphicon-user &nbsp;
          img.icon-image(src="images/linkedin-icon.png")

.container
  .row.content-container
    .col-xs-5
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/01/a4/89/01a48977588039b81015e5815e7384e7.jpg")
    .col-xs-6.col-sm-7
      h3 AudiUSA.com
      p.body-p.
        I oversaw front end development of the AudiUSA.com site redesign, especially focusing on the car configurator and global UI components. The site is fully responsive and includes several integrations with Audi's global data partners.
      table.table.body-p
        tr
          td
            h5 Client
            p
              small Audi
          td
            h5 Agency
            p
              small AKQA
          td
            h5 Role
            p
              small Technical Manager
        tr
          td(colspan="3")
            h5 Technologies
            p
              small Adobe CQ5, Adobe Scene7, CoffeeScript, Bootstrap, Backbone.js, Jenkins, Predictive Analytics
        tr
          td(colspan="3")
            h5 Experience
            p
              small Managed a global front-end development team.
            p
              small Interfaced with Audi data partners in Germany.
            p
              small Site contains complex Adobe CQ5 and Scene7 integration.
            p
              small Followed test-driven development; continuous integration pipline.
            p
              small Uses predictive analytics to optimize site content for the user.
        tr
          td(colspan="3")
            h5 Recognition
            p
              small Webby Awards Official Honoree: Mobile Sites & Apps: Best Practices
            p
              small FWA Site of the Day
            p
              small FWA Mobile Site of the Day

.container
  .row.content-container
    .col-xs-6.col-sm-5
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/42/8e/34/428e344039efe2fa105be49b7f4ab54d.jpg")
    .col-xs-6.col-sm-7
      h3 Dance*Cam
      p.body-p.
        I managed creative development of the Dance*Cam iPhone, Android and Windows Phone 7 app for Dance Central 2. The mobile app ran Adobe After Effects in Microsoft's Azure cloud to add special effects and "auto-tune" the user into their very own music video.
      table.table.body-p
        tr
          td
            h5 Client
            p
              small Xbox
          td
            h5 Agency
            p
              small AKQA and Fuzz Productions
          td
            h5 Role
            p
              small Technical Manager
        tr
          td(colspan="3")
            h5 Technologies
            p
              small After Effects, Azure, Windows Phone, Android, iOS
        tr
          td(colspan="3")
            h5 Experience
            p
              small Managed mobile development through an external development partner.
            p
              small Users can challenge each other to dance battles with videos posted on Facebook.
            p
              small Music videos are generated in the cloud, using Adobe AfterEffects running on Microsoft Azure.
        tr
          td(colspan="3")
            h5 Recognition
            p
              small ONE SHOW Entertainment Bronze
            p
              small Cannes Mobile Shortlist
            p
              small NEXT Mobile AICP Shortlist

.container
  .row.content-container
    .col-xs-6.col-sm-5
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/236x/dc/9a/f7/dc9af7cb3cac2c7d0289cf0894b26e50.jpg")
    .col-xs-6.col-sm-7
      h3 Remember Reach
      p.body-p.
        The Halo "Remember Reach" site used an automobile assembly robot with a laser pointer to create a monument from 60,000 points of light. The activity of the robot was live-streamed over the website for the duration of the campaign. The user could select a single points of light, which would in turn be illuminated by the robot and composited into the scene.
      table.table.body-p
        tr
          td
            h5 Client
            p
              small Xbox
          td
            h5 Agency
            p
              small AKQA and Autofuss
          td
            h5 Role
            p
              small Technical Manager
        tr
          td(colspan="3")
            h5 Technologies
            p
              small Silverlight, C#.NET, After Effects, Kuka Robotics, Live Smooth Streaming
        tr
          td(colspan="3")
            h5 Experience
            p
              small Site used Microsoft's Smooth Streaming video technology to live-stream the robot activity.
            p
              small I designed the algorithms for users selecting of points of light, as well as the constellation fade routine.
        tr
          td(colspan="3")
            h5 Recognition
            p
              small.
                One Show Interactive Silver, One Show Interactive Bronze, Tomorrow Awards Gold, London International Awards Gold, ADDY Gold, BIG Star Awards Best Online Creative, New York Festivals Gold, Art Directors Club Awards Merit, Webby Awards Official Honoree

.container
  .row.content-container
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/1e/5e/1b/1e5e1b627ec7156858c0474bfbc40a0f.jpg")
      h3.copy-container Target Weekly Ad
      p.body-p.
        I was the Creative Development Manager for the online Target Weekly Ad in 2010. The site allowed users to share, comment on and "love" products, set up email and SMS alerts and explore product recommendations based on Facebook "Likes."
      p.body-p
        small.
          Recognition: Lorem ipsum dolor amet
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/16/80/5d/16805d49d30b09927408a239bc7e3074.jpg")
      h3.copy-container Kinect Me
      p.body-p.
        The Xbox “Kinect Me” site was created to complement the Kinect for Xbox 360 global tour. It was featured in the 2011 Communication Arts Interactive Annual.
      p.body-p
        small.
          Recognition: Communication Arts Interactive Annual, Mi6 Most Creative New Product Announcement, Webby Awards Official Honoree
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/236x/fc/db/74/fcdb746999c28e6acb89b5faf6f3753e.jpg")
      h3.copy-container Alan Wake
      p.body-p.
        The Alan Wake "Reveal" take-over ad allowed users to use their mobile device as a flashlight to reveal scenes from the game in a web ad.
      p.body-p
        small.
          Recognition: Mi6 Bronze for Best Online Take-over, Webby Awards Official Honoree

  .row.content-container
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/6f/db/64/6fdb6484286be71a9e2e84e8d10e488b.jpg")
      h3.copy-container Gears of War 2
      p.body-p.
        I was the lead Flash developer of the Gears of War 2 Flash site.
      p.body-p
        small.
          Recognition: Bronze CLIO, One Show Short List, Mi6 Gold
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/73/f1/bf/73f1bfb35672bebbca02a86b860f5038.jpg")
      h3.copy-container Criss Angel
      p.body-p.
        Nearly three million people visited and sent the customized Criss Angel video prank. I developed the back end "engine" that assembled audio and video snippets into a cohesive video that seemed magically created just for them.
      p.body-p
        small.
          Recognition: Lorem ipsum dolor amet
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/6f/92/c6/6f92c6708cbac71f355d3e22d09ccf7b.jpg")
      h3.copy-container Halo 3: ODST
      p.body-p.
        The Halo 3: ODST website was one of the first examples of Silverlight Smooth Streaming video technology, which enabled the nonlinear video navigation and multi-dimensional storytelling.
      p.body-p
        small.
          Recognition: Mi6 Award for Best Online Advertising Campaign, Best Online Advertising Campaign

  .row.content-container
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/1c/24/68/1c246846ed32efa983192eefd7f7f9af.jpg")
      h3.copy-container Target Black Friday
      p.body-p.
        I led development of Target's "Giftacular" augmented reality sweepstakes. The user could spin the wheel of gifts with their Target print ad in order to win coupons for Black Friday.
      p.body-p
        small.
          Recognition: Lorem ipsum dolor amet
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/736x/02/90/08/0290088fc392c79821b5f3586069ff70.jpg")
      h3.copy-container Adidas Basketball
      p.body-p.
        I was the lead frontend developer for the adidas "Believe in 5IVE" site.
      p.body-p
        small.
          Recognition: FWA Site of the Day, San Francisco Silver ADDY
    .col-xs-4
      img.work-image(src="https://s-media-cache-ak0.pinimg.com/236x/1b/5b/78/1b5b7849fc03174142c5b6c96c0a3a86.jpg")
      h3.copy-container Orbit Friends of Bright
      p.body-p.
        While at EVB, I was the lead developer of the "Friends of Bright" site for Wrigley.
      p.body-p
        small.
          Recognition: FWA Site of the Day, FITC Toronto 2007, San Francisco Silver ADDY, Cannes Lion Finalist, SXSW Finalist, Adobe Site of the Day