.container
  .row.content-container
    .col-xs-12.col-sm-5
      img.work-image(src!="<%= image %>")
      .icons-container
        a(href="#", data-toggle="modal", data-target="#haloReachModal")
          button.btn.btn-xs.btn-info.icon-button(type="button")
            img.icon-image(src="images/video-icon.png")
    .col-xs-12.col-sm-7
      h3 <%= name %>
      p.body-p <%= description %>
      table.table.body-p
        tr
          td
            h5 Client
            p
              small <%= client %>
          td
            h5 Agency
            p
              small <%= agency %>
          td
            h5 Role
            p
              small <%= role %>
        tr
          td(colspan="3")
            h5 Technologies
            p
              small <%= tech %>
        tr
          td(colspan="3")
            h5 Highlights
            p
              small Site used Microsoft's Smooth Streaming video technology to live-stream the robot activity.
            p
              small I designed the algorithms for users selecting points of light and the constellation fade routine.
        tr
          td(colspan="3")
            h5 Recognition
            p
              small.
                One Show Interactive Silver, One Show Interactive Bronze, Tomorrow Awards Gold, London International Awards Gold, ADDY Gold, BIG Star Awards Best Online Creative, New York Festivals Gold, Art Directors Club Awards Merit, Webby Awards Official Honoree